.recommendationsMiddle {
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 457px;
    flex-shrink: 0;
    border-radius: 18px;
    background: linear-gradient(180deg, rgba(71, 9, 62, 0.90) 0%, rgba(71, 9, 62, 0.00) 100%);

    margin-left: 29px;
}

.recommendationsMiddle img{
    width: 263px;
    height: 457px;
    position: absolute;
    z-index: -1;
}

.recommendationsMiddle p{
    width: 218px;
    height: 279.97px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    position: absolute;
    
    margin-top: 29px;
    margin-left: 28px;
}

@media screen and (max-width: 1440px) {

    .recommendationsMiddle {
        margin-top: 15px;
        margin-left: 15px;
    }

}